.container{
    width: 1200px;
    margin-left: 350px;
    margin-right:400px;
    background-color: #fff;
}

.content-area{
    border-top: 6px solid #fb2525;
    border-bottom: 6px solid #fb2525;
    width: 1200px;
} 

.sidebar{
    width: 32%;
    float: left;
        
}

.main-area{
    width: 32%;
    float: left;
    padding:10px;
}

.main-area1{
    width: 32%;
    float: left;
    padding:10px;
}

.fix{
    clear:both;
}

 .group:before,
.group:after{
    content: "";
    display: table;
}

.group:after{
    clear:both;
}

.group{
    zoom: 1;
} 
